@use "../partials/variables" as *;
@use "../partials/button" as btn;

.icon__con {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-white;
  border-radius: $border-radius-primary;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem;
  z-index: 999;
  cursor: pointer;

  .icon {
    width: 100%;
    height: 100%;
  }

  .cart__quantity {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgb(158, 16, 16);
    color: $bg-color-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cart {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 1rem;
  width: 100%;
  height: 100%;
  background-color: $bg-color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-black;
  overflow-y: auto;

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    position: relative;
    padding: 1rem 0;
    gap: 2rem;
    border-top: 1px dotted rgba(53, 49, 49, 0.24);
    border-bottom: 1px dotted rgba(53, 49, 49, 0.24);

    &::before {
      content: "";
      position: absolute;
      top: -2.5px;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px dotted rgba(53, 49, 49, 0.24);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2.5px;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px dotted rgba(53, 49, 49, 0.24);
    }

    .dottedline {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px dotted rgba(53, 49, 49, 0.24);
    }
  }
}

.cartitem {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-auto-rows: auto auto;
  gap: .5rem;
  height: auto
  

  &__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__dottedline {
    grid-column: 2/3;
    grid-row: 1/2;
    border-bottom: 2px dotted $color-black;
    width: 95%;
    margin: 0 auto;
  }
  &__price {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  
  &__amount__con {
    grid-column: 3/4;
    grid-row: 1/2;
    
    display: flex;
    gap: .5rem;
    padding: .2rem;
    border: 1px solid rgba(53, 49, 49, 0.24);
    border-radius: 1rem;
    
    .icon {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }
  }
  
  .trashicon {
    grid-column: 5/6;
    grid-row: 1/2;
    align-self: center;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(53, 49, 49, 0.24);
  padding: 1rem;
  width: 100%;
  border-radius: $border-radius-primary;

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }

  &__price {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
  }
}

.btn__purchase {
    @include btn.button;
}