@use '../partials/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

    .logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 4rem;
        height: 4rem;
    }