@use "../partials/variables" as *;

.menu {
  background: $bg-color-secondary url('../../assets/bg-leaf.svg') ;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  color: $color-white;

  &__con {
    display: flex;
    flex-direction: column;
    margin: 6rem auto 0 auto;
    background-color: $bg-color-primary;
    border-radius: $border-radius-primary;
    width: 90%;
    height: 80%;
    box-shadow:  0px 3px 34px 0px rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
  }

  &__heading {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    padding: 2rem 1rem 0 1rem;
  }
}

.fooditem {
  cursor: pointer;
}

.fooditem,
.extraitems {
  display: grid;
  padding: 1rem 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  height: auto;
  border-bottom: 1px dotted $bg-color-light-grey;

  .title,
  .price {
    grid-row: 1/2;
    grid-column: auto;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }

  .line__dotted {
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: 2px dotted $color-white;
    width: 100%;
    margin: 0 auto;
  }

  .desc {
    grid-row: 2/3;
    grid-column: 1/4;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
  }
}

.extraitem__con {
  grid-row: 2/3;
  grid-column: 1/4;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: .75rem;

  font-size: $font-size-sm;
  font-weight: $font-weight-normal;

  .extraitem {
    background-color: $bg-color-light-grey;
    padding: 0.5rem 0.5rem;
    border-radius: $border-radius-primary;
    text-align: center;
    width: fit-content;
    cursor: pointer;
  }
}
